<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Анализа на Текст</title>
  </head>
  <body>
    <h1>Внесете текст за анализа</h1>
    <form action="/analiza" method="post">
      <textarea
        name="tekst_za_analiza"
        rows="10"
        cols="50"
        placeholder="Внесете го вашиот текст тука..."
      ></textarea>
      <br />
      <button type="submit">Анализирај!</button>
    </form>
  </body>
</html>