<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Резултати од Анализа</title>
  </head>
  <body>
    <h1>Резултати од анализата:</h1>
    <ul>
      <li>Вкупен број на карактери: <strong>{{vkupnoKarakteri}}</strong></li>
      <li>Вкупен број на зборови: <strong>{{vkupnoZborovi}}</strong></li>
      <li>Број на реченици: <strong>{{brojRecenici}}</strong></li>
      <li>
        Број на зборови кои почнуваат на самогласка (а, о, у, и, е):
        <strong>{{zboroviNaSamoglaska}}</strong>
      </li>
      <br />
      <li>
        Зборови помали од 5 карактери:
        <strong>{{zboroviPomaliOd5}}</strong>
      </li>
      <li>
        Зборови еднакви на 5 карактери:
        <strong>{{zboroviEdnakviNa5}}</strong>
      </li>
      <li>
        Зборови поголеми од 5 карактери:
        <strong>{{zboroviPogolemiOd5}}</strong>
      </li>
    </ul>
    <a href="/analiza">Направи нова анализа</a>
  </body>
</html>